<div class="order-sample-button">
    <form action="<?php echo $this->getUrl() . 'samples' ;?> "method="post">    
    <input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey(); ?>" />    
    
    <input name="product_id" type="hidden" 
           value="<?php /* @escapeNotVerified */ $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
                $registry = $objectManager->get('\Magento\Framework\Registry');
                $currentProduct = $registry->registry('current_product');
                echo $currentProduct->getId(); ?>" />
             
    <button type="submit"
        title="<?php /* @escapeNotVerified */ echo __('Order Sample') ?>" 
        id="order-sample" 
        class="action towishlist">
    <span><?php /* @escapeNotVerified */ echo __('Order Sample') ?></span>
</button>
</form>
</div>
